<form action="/addition" method="post">
    <input type="text" name="number1" placeholder="enter number 1" autofocus>

    <input type="text" name="number2" placeholder="enter number 2" autofocus>
    <button>Add</button>
</form>