<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra calculates for you</title>
  <h1>Sinatra Calculator</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/add">Add</a></li>
      <li><a href="/subtract">Subtract</a></li>
      <li><a href="/multiply">Multiply</a></li>
      <li><a href="/divide">divide</a></li>
      <li><a href="/mortgage">Mortgage</a></li>
      <li><a href="/bmi">BMI</a></li>
    </ul>
  </nav>
  
  <%= yield %>
</body>
</html>